@model SanEximPortal.Models.SeaTransportInfo
@(Html.DevExtreme().ScrollView().ID("seaScrollView").ShowScrollbar(ShowScrollbarMode.Always).Content(  
    @<text>  
        <h2>Deniz</h2>  

       @(Html.DevExtreme().Form<SanEximPortal.Models.SeaTransportInfo>()
    .ID("sea-transport-form")
    .LabelMode(FormLabelMode.Floating)
    .LabelLocation(FormLabelLocation.Left)
    .FormData(Model)
    .ColCount(2)
    .Items(items=>{
        items.AddSimpleFor(m=>m.FileNumber).Visible(false);
         items.AddSimpleFor(m => m.ConsignmentDate)
                .Editor(e => e
                    .DateBox()
                    .Disabled(true)
                    .Width("100%")
                ); items.AddEmpty();
        items.AddSimpleFor(m=>m.EstimatedArrivalDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.ActualDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.TransferPortDepartureDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.TransferPortArrivalDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.GoodsExportExitDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.ArrivalPort); items.AddEmpty();
        items.AddSimpleFor(m=>m.TransferPort); items.AddEmpty();

         items.AddSimpleFor(m=>m.ExitCustoms)
            .Editor(e => e
                    .TextBox()
                    .Disabled(true)
                ).ColSpan(2);
        items.AddSimpleFor(m=>m.CustomsExitDeclaration)
        .Editor(e => e
                    .TextBox()
                    .Disabled(true)
                ); items.AddEmpty();
        items.AddSimpleFor(m=>m.CustomsRegistrationNumber)
            .Editor(e => e
                    .TextBox()
                    .Disabled(true)
                ); items.AddEmpty();
        items.AddSimpleFor(m=>m.From)
            .Editor(e => e
                        .TextBox()
                        .Disabled(true)
                ); items.AddEmpty();
        items.AddSimpleFor(m=>m.To)
            .Editor(e => e
                    .TextBox()
                    .Disabled(true)
                ); items.AddEmpty();
        items.AddSimpleFor(m=>m.Agent.AgencyTitle).ColSpan(2); 
        items.AddSimpleFor(m=>m.Agent.AgencyDescription).ColSpan(2); 
        items.AddSimpleFor(m=>m.Agent.AgencyRelevantPerson).ColSpan(2); 
        items.AddEmpty().ColSpan(1); items.AddSimpleFor(m=>m.Agent.Phone);
        items.AddEmpty().ColSpan(1); items.AddSimpleFor(m=>m.Agent.Fax);  
        items.AddEmpty().ColSpan(1); items.AddSimpleFor(m=>m.Agent.Email);
        items.AddSimpleFor(m=>m.ShipName); items.AddEmpty();
        items.AddSimpleFor(m=>m.ConstructionDate); items.AddEmpty();
        items.AddSimpleFor(m=>m.Flag); items.AddEmpty();
        items.AddSimpleFor(m=>m.ImoNo); items.AddEmpty();
        items.AddSimpleFor(m=>m.Agency); items.AddEmpty();
        items.AddSimpleFor(m=>m.InsuranceRate); items.AddEmpty();
        items.AddSimpleFor(m=>m.IsDelivered)
            .Label(l => l.Text(""))
            .Editor(e =>
                e.CheckBox()
                    .Text("Teslim Edildi")
            );

        
        items.AddEmpty();
        items.AddSimpleFor(m=>m.Agent.Id).Visible(false);
        items.AddButton()
        .HorizontalAlignment(HorizontalAlignment.Left)
            .ButtonOptions(btn=>
                btn.Icon("save")
                    .Text("Kaydet")
                    .OnClick("onSeaFormSave")
                );
    })
)
    </text>  
))  