
@{
    ViewData["Title"] = "ChangePasswordSucces";
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
}

<h1>Başarılı</h1>
<p>Şifre değişterme işleminiz başarılı bir şekilde gerçekleştrilmiştir</p>
<br />

@(Html.DevExtreme().Button()
    .Text("Anasayfaya Dön")
    .Type(ButtonType.Default)
    .Icon("home")
    .OnClick(@<text>
        function() {
            window.location = "/Home";
        }
    </text>)
)
